<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-ng-app="" >
 <head>
    <title>EMREX - Danish National Contact Point</title>
     <link href='https://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css' />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
     <!--<link rel="stylesheet" href="common/styles/pure-min.css"/>-->
     <!--<link href="styles/angular-datepicker.css" rel="stylesheet" type="text/css" />-->
     <link rel="stylesheet" href="common/styles/custom.css"/>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="dk-ncp" ng-cloak="" class="ng-cloak">

    <div ng-view="" class="container custom-container"></div>
    <script src="js/angular-bootstrap.js" type="text/javascript"></script>
    <script src="common/js/helper.js" type="text/javascript"></script>
    <script src="js/api.js" type="text/javascript"></script>
    <script src="common/js/selectedCourses.js" type="text/javascript"></script>
    <script src="common/js/learningReport.js"></script>
    <script src="js/courseSelection.js"></script>
    <script src="js/courseSelectionPreview.js"></script>
    <script src="js/angular-datepicker.js"></script>
    <script src="js/ncp.js"></script>

</body>
</html>
