<div class="row">
    <div class="col-xs-12" style="display:flex;margin-bottom:2em; background-color:rgb(0,20,145);color:white;">
        <img src="../common/img/emrex.png" style="margin-right:2em; height:86px;" />
        <div style="height:86px;line-height:86px;">
            <span style="font-size:2.5em;font-weight:lighter; white-space: nowrap;">EMREX - Danish National Contact Point</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <span>
            <h2>Review and approve your selected courses</h2>
            You have selected to import {{numberOfCourses}}
            <span ng-show="numberOfCourses == 1">result</span><span ng-show="numberOfCourses != 1">results</span> with a total of {{totalEcts}} ECTS.<br/>
            Review your selected results below. If something is incorrect, you can click 'Back' and change it.
        </span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h3>{{learner.givenNames}} {{learner.familyName}}, {{learner.bday | date:'yyyy-MM-dd'}}</h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div ng-repeat="learningReport in reports | filter:courseNumberfilter">
            <learning-report-directive report='learningReport' only-viewing=true level-filter='selectedLevel' type-filter='typeOptions' />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <a ng-href="#/ncp" class="btn btn-link">Back</a>
        <div class="pull-right" ng-bind-html="review"/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <br/><br/>
        <span>If something is not working, please contact your home university or <a href="mailto:emrex-support@emrex.eu">emrex-support@emrex.eu</a>.</span>
    </div>
</div>
