<div class="row">
    <div class="col-xs-12" style="display:flex;margin-bottom:2em; background-color:rgb(0,20,145);color:white;">
        <img src="../common/img/emrex.png" style="margin-right:2em; height:86px;" />
        <div style="height:86px;line-height:86px;">
            <span style="font-size:2.5em;font-weight:lighter; white-space: nowrap;">EMREX - Danish National Contact Point</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <span>
            <h2>Find and select results to import</h2>
            Select the results you want to import (only passed results are shown) and click "Next".<br/>
            After this you will be asked to confirm your selection of results.
        </span>
    </div>
</div>

<div class="row">
  <span ng-show="loading == 'true'"><img src="../common/img/loading.gif"/></span>
</div>

<div class="row">
    <div class="col-xs-12">
      <span ng-show="loaded == 'true'">
        <h3>{{learner.givenNames}} {{learner.familyName}}, {{learner.bday | date:'yyyy-MM-dd'}}</h3>
      </span>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div ng-repeat="learningReport in reports | filter:issuerFilter">
            <learning-report-directive report='learningReport' level-filter='selectedLevel'
                                       type-filter='typeOptions' start-date="startdate" end-date="enddate"></learning-report-directive>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="custom-inline" ng-bind-html="abort"/>
        <button class="btn btn-default btn-success pull-right" ng-click="sendIds()">Next</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <br/><br/>
        <span>If something is not working, please contact your home university or <a href="mailto:emrex-support@emrex.eu">emrex-support@emrex.eu</a>.</span>
    </div>
</div>
