[submodule "fi-ncp/src/main/resources/static/fi-common"]
	path = ncp/src/main/resources/static/common
	url = https://github.com/InvokIT/dk-emrex-common.git
[submodule "fi-smp/src/main/resources/static/fi-common"]
	path = smp/src/main/resources/static/common
	url = https://github.com/InvokIT/dk-emrex-common.git
