<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Fake SMP</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="common/styles/bootstrap.css" />
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default">
			<ul class="nav nav-pills">
				<li role="presentation" class="active"><a href="#">Home</a></li>
				<li role="presentation"><a th:href="@{~/smp}">SMP</a></li>
			</ul>
		</nav>
		<h3>Welcome to the fake SMP server</h3>
	</div>
	<script src="common/js/jquery-3.1.1.js"></script>
	<script src="common/js/bootstrap.js"></script>
</body>
</html>