<div>
    <table class="table">
        <caption style="border-bottom:1px solid gray;">{{report.learner.fullName}} at {{issuerName}}</caption>
        <thead>
        <th>
            <div ng-hide="onlyViewing">
                <input type="checkbox" ng-model="selectAll" ng-change="selectAllClicked()" />
            </div>
        </th>
        <th>Code</th>
        <th>Title</th>
        <th class="text-right">Results</th>
        <th class="text-right">Credits</th>
        <th class="text-right">Date</th>
        </thead>
        <tbody>
        <tr ng-class="{'custom-deselected' : !opportunity.selected}" ng-repeat="opportunity in flattenedLearningOpportunities">
            <td>
                <div ng-hide="onlyViewing"><input type="checkbox" ng-model="opportunity.selected"
                                            ng-change="checkBoxChanged(opportunity)">
                </div>
            </td>
            <td>{{opportunity.localIdentifier}}</td>
            <td>{{getRightLanguage(opportunity.title)}}</td>
            <td class="text-right">{{opportunity.specifies.learningOpportunityInstance.resultLabel}}</td>
            <td class="text-right">{{opportunity.specifies.learningOpportunityInstance.credit[0].value | number:2}} {{opportunity.specifies.learningOpportunityInstance.credit[0].scheme}}</td>
            <td class="text-right">{{opportunity.specifies.learningOpportunityInstance.date | date:'yyyy-MM-dd'}}</td>
        </tr>
        </tbody>
    </table>


</div>
