<div>
    <table class="table">
        <caption style="border-bottom:1px solid gray;">{{report.learner.fullName}} at {{issuerName}}</caption>
        <thead>
        <th>
            <div ng-hide="onlyViewing">
                <input type="checkbox" ng-model="selectAll" ng-change="selectAllClicked()" />
            </div>
        </th>
        <th>ID</th>
        <th>Code</th>
        <th>Title</th>
        <th>Credits</th>
        <th>Results</th>
        <th>Date</th>
        </thead>
        <tbody>
        <tr ng-class="{'custom-deselected' : !opportunity.selected}" ng-repeat="opportunity in flattenedLearningOpportunities | filter:selectedTypes | filter:selectedLevel | filter:selectedTimeInterval">
            <td>
                <div ng-hide="onlyViewing"><input type="checkbox" ng-model="opportunity.selected"
                                            ng-change="checkBoxChanged(opportunity)">
                </div>
            </td>
            <td>{{opportunity.elmoIdentifier}}</td>
            <td>{{opportunity.localIdentifier}}</td>
            <td>{{getRightLanguage(opportunity.title)}}</td>
            <td>{{opportunity.specifies.learningOpportunityInstance.credit.value}} {{opportunity.specifies.learningOpportunityInstance.credit.scheme}}</td>
            <td>{{opportunity.specifies.learningOpportunityInstance.resultLabel}}</td>
            <td>{{opportunity.specifies.learningOpportunityInstance.date}}</td>
        </tr>
        </tbody>
    </table>


</div>
