.custom-border {
    border: 1px solid #cbcbcb;
    box-sizing: border-box;
}

.custom-no-borders {
    border-style: hidden;
}

.custom-container {
    margin: 10px;
}
.custom-selected {
    background-color:  whitesmoke;
}

.custom-option-margin {
    margin: 5px;
}

.custom-go-button, .custom-panic-button {
    color: white;
    border: 2px solid lightgrey;

    padding: 10px;
    border-radius: 5px;
    font-size: 15px;

}
.custom-go-button{
    background-color: #629c44;
}

.custom-panic-button {
    background-color: firebrick;
}

.custom-zero-margin {
    margin: 0px;
}

.custom-inline {
    display: inline-block;
}

legend {
    color: white;
    background-color: #629c44;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

fieldset {
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}
