.custom-border {
    border: 1px solid #cbcbcb;
    box-sizing: border-box;
}

.custom-no-borders {
    border-style: hidden;
}

.custom-container {
    margin: 10px;
}
.custom-selected {
    /*background-color:  whitesmoke;*/
}

.custom-deselected {
    background-color: whitesmoke;
    color:gray;
}

.custom-option-margin {
    margin: 5px;
}

.custom-go-button, .custom-panic-button {
    color: white;
    border: 2px solid lightgrey;

    padding: 10px;
    border-radius: 5px;
    font-size: 15px;

}
.custom-go-button{
    background-color: #629c44;
}

.custom-panic-button {
    background-color: firebrick;
}

.custom-zero-margin {
    margin: 0px;
}

.custom-inline {
    display: inline-block;
}

legend {
    color: white;
    background-color: #629c44;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

fieldset {
    padding: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.idpSelection {
    display:flex;
    justify-content:center;
    margin:4em 0;
    width:100%;
    position:relative;
}

.idpSelection .idpSelection__header {
    display:flex; justify-content: flex-end; align-items: center;
    width:50%;
    padding:0 4em;
}

.idpSelection .idpSelection__items {
    width:50%;
}

.idpSelection .idpSelection__items form label {
    cursor:pointer;
    padding:0.5em;
    font-size:1.1em;
    font-weight:normal;
    border-radius: 1em;
    transition:background-color 200ms, transform 200ms;
    will-change: transform, background-color;
    transform-origin: 0 50%;
}

.idpSelection .idpSelection__items form label:hover, .idpSelection .idpSelection__items form label:active {
    background-color:whitesmoke;
    transform:scale(1.1);
}

.idpSelection .idpSelection__items form label > input[type=radio] {
    display:none;
}